@use "vars" as *

@mixin below($bp)
  @media (max-width: $bp)
    @content

@mixin font-display
  font-family: $font-display
  font-weight: 800
  font-style: normal

@mixin font-text
  font-family: $font-text
  font-weight: 400
  font-style: normal
